body {
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath d='M12 5V19' stroke='black' stroke-width='1' stroke-linecap='round'/%3e%3cpath d='M5 12H19' stroke='black' stroke-width='1' stroke-linecap='round'/%3e%3c/svg%3e") 12 12, crosshair;
}

a:hover,
button:hover,
.custom-clickable:hover {
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath d='M12 5V19' stroke='rgb(129, 255, 3)' stroke-width='1' stroke-linecap='round'/%3e%3cpath d='M5 12H19' stroke='rgb(129, 255, 3)' stroke-width='1' stroke-linecap='round'/%3e%3c/svg%3e") 12 12, crosshair;
}

a,
button,
.custom-clickable {
  cursor: inherit;
}

.cursor-black-crosshair,
.cursor-black-crosshair:hover {
  cursor: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3e%3cpath d='M12 5V19' stroke='black' stroke-width='1' stroke-linecap='round'/%3e%3cpath d='M5 12H19' stroke='black' stroke-width='1' stroke-linecap='round'/%3e%3c/svg%3e") 12 12, crosshair;
} 